pymongo==2.8
apachelog==1.0
requests==2.6.0
thriftpy==0.3.1
watchdog==0.8.3
celery==3.1.18
-e git+https://github.com/scieloorg/xylose@1.15.5#egg=xylose
-e git+https://github.com/scieloorg/logger@0.4.12#egg=logger
