# coding: utf-8

#Article Meta API
URL = 'http://localhost:7000'

#Logger Controlling Database MONGODB
LOGGER_DATABASE_DOMAIN = '127.0.0.1'
LOGGER_DATABASE_PORT = 27017
LOGGER_DATABASE_COLLECTION = 'xxx'  # Collection identifier

LOG_DIR = '/data/logs'

ROBOTS_FILE = 'robots.txt'

APACHE_LOG_FORMAT = r'%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"'
